
.TodoList {
    width: 600px;
}

.TodoList__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid teal;
    gap: 10px;
    list-style: none;
}



.TodoList__toggle {
    width: 20%;
    padding: 10px;
    text-align: center;
    background-color: teal;
    color: white;
}

.TodoList__text {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 15px;
}

.TodoList__checkbox {
    cursor: pointer;
    width: 24px;
    height: 24px;
}